
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-secondary;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -20px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover {
    color: $salmon;
    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button, input {
  border: 0;
  font-family: $font-secondary;
  background: none;
  border: none;
  color: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  &:focus {
    border: none;
  }
}

button {
  cursor: pointer;
}

body {
  font-family: $font-secondary;
  font-size: 1.3rem;
  background-color: #0000;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:focus-visible {
  outline: 2px solid var($white1);
  outline-offset: 2px;
}


// scroll bar and selection color

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: $blue-bg-sec5;
}

::-webkit-scrollbar-thumb {
  background-color: $salmon;
  border-radius: 10px;
}

::selection {
  background-color: $salmon;
  color: $blue-main;
}