
// default font
$font-main: 'Merriweather', sans-serif;
$font-secondary: 'Poppins', sans-serif;



// main colors
$blue-main: #0B102F;
$salmon: #AE3433;
$salmon-stroke: #A3201E;



// blue colors
$blue-nav: hsla(232, 39%, 11%, 0.452);
$blue-home-mask: hsla(232, 83%, 7%, 0.75);
$blue-contact-mask: hwb(232 2% 89% / 0.808);
$blue-card1: #111633;
$blue-card2: #0F1430;
$blue-card3: #0B102F;
$blue-bg-nav-mobile: #070a20;
$blue-bg-sec3: #0C1029;
$blue-card-sec3-footer: #0B0F25;
$blue-card-stroke-sec3: #111634;
$blue-sec4: hsla(232, 83%, 7%, 0.70);
$blue-bg-sec5: #06091C;
$blue-bg-sec6: hsla(232, 65%, 7%, 0.75);
$blue-bg-left-side: #06091e;
$blue-stroke-questions: #1D2138;
$blue-p: #5B6674;
$blue-form: #646882;
$blue-stroke-footer: #242a4e7a;
$blue-footer: #080C1F;



// white colors
$bg-white: #F5F4FF;
$white-nav: #E6E6E6;
$white1: #FFFFFF;
$white2: #EDEDED;
$white3: #D4D4D4;
$white4: #D1D1D1;
$white5: #e9d3d3;
$white6: #b4b4b4;


$text-color-gray: #1A1A1A;