
// media queries

@mixin responsive-mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin responsive-tablet {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin responsive-desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}



// position elements

@mixin flexbox-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexbox-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin align-center() {
  display: flex;
  align-items: center;
}

@mixin container() {
  max-width: 1350px;
  margin: 0 auto;
}