
// default font
$font-main: 'Merriweather', sans-serif;
$font-secondary: 'Poppins', sans-serif;



// main colors
$blue-main: #0B102F;
$salmon: #AE3433;
$salmon-stroke: #A3201E;



// blue colors
$blue-nav: hsla(232, 40%, 11%, 0.43);
$blue-home-mask: hsla(232, 83%, 7%, 0.75);

$blue-card1: #111633;
$blue-card2: #0F1430;
$blue-card3: #0B102F;

$blue-bg-sec3: #0C1029;
$blue-card-sec3-footer: #0B0F25;
$blue-card-stroke-sec3: #0F111E;

$blue-sec4: hsla(232, 83%, 7%, 0.70);

$blue-bg-sec5: #06091C;

$blue-bg-sec6: hsla(232, 65%, 7%, 0.75);
$blue-bg-left-side: hsla(232, 65%, 7%, 0.72);
$blue-stroke-questions: #1D2138;

$blue-p: #5B6674;



// white colors

$white-nav: #E6E6E6;
$white1: #FFFFFF;
$white2: #EDEDED;
$white3: #D4D4D4;
$white4: #D1D1D1;
$white5: #e9d3d3;

